head
  title login
body
  form(action='login', method='post')
    div
      label(for='name') new username:
      input(name='name')
    br
    div
      label(for='password') new password:
      input(name='password')
    br
    input(type='submit', value='log in')
