extends layout.pug

block title
  title Login

block content
  form(action="login" method="post")
    div(class="form-group")
      input(autocomplete="off" autofocus class="form-control" name="name" placeholder="Username" type="text")
    div(class="form-group")
      input(class="form-control" name="password" placeholder="Password" type="password")
    button(class="btn btn-primary" type="submit") log in
