extends layout.pug

block title
  title Main Page

block content
  table(class="table")
    tr
      th Thread Title
      th Created By
      th Updated Time
    each thread in threads
      tr
        td
          a(href="/thread/" + thread.id) #{thread.title}
        td #{thread.author}
        td #{formatTime(thread.timeUpdated)}
