extends layout.pug

block title
  title New Thread

block content
  form(action='new', method='post')
    div(class="form-group")
      input(autocomplete="off" autofocus class="form-control" name="title" placeholder="thread title" type="text")
    div(class="form-group")
      textarea(autocomplete="off" autofocus class="form-control" name="content" placeholder="thread content" type="text")
    button(class="btn btn-primary" type="submit") create thread
