head
  title register
body
  form(action='register', method='post')
    div
      label(for='name') new username:
      input(name='name')
    br
    div
      label(for='password') new password:
      input(name='password')
    br
    input(type='submit', value='register')
